#timeline .row > div:last-child {
  flex-basis: 0;
}

.timeline img {
  max-width: 30rem;
  min-width: 10rem;
  animation: fadein 2.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.timeline ul {
  background: #fff;
  padding: 0 0;

  li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 30px;
    background: #616161;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;

      transition: background .5s ease-in-out;
    }

    &.in-view{
      &::after {
        background: #E86361;
      }

      &.li-mobilizon::after  { background: $primary; }
      &.li-current::after  { background: lighten($secondary, 20%); }
      &.li-frama::after  { background: #6A5687; }
      &.li-soft::after   { background: #EB7239; }
      &.li-logiciel::after { background: #0C5B7A; }
      &.li-culture::after  { background: #CC2D18; }
      &.li-services::after { background: #8E9C48; }
      &.in-view.li-vrac::after   { background: #C48A1B; }

      div {
        transform: none;
        visibility: visible;
        opacity: 1;
      }

    }

    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      // background: #E86361;
      left: 45px;

      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;

      transform: translate3d(200px, 0, 0);

      &::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #E86361 transparent transparent;
      }

      &.fond-frama::before { border-color: transparent #6A5687 transparent transparent; }
      &.fond-soft::before { border-color: transparent #EB7239 transparent transparent; }
      &.fond-logiciel::before { border-color: transparent #0C5B7A transparent transparent; }
      &.fond-culture::before { border-color: transparent #CC2D18 transparent transparent; }
      &.fond-services::before { border-color: transparent #8E9C48 transparent transparent; }
      &.fond-vrac::before { border-color: transparent #C48A1B transparent transparent; }

      time {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 8px;
      }
    }
  }
}



  /* GENERAL MEDIA QUERIES
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    // .timeline ul li:nth-child(even) div {
    //   left: -289px;
    //   /*250+45-6*/
    // }
  }

  @media screen and (max-width: 600px) {
    .box, .text {
      display: block;
    }
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    // .timeline ul li:nth-child(even) div {
    //   left: 45px;
    // }
    // .timeline ul li:nth-child(even) div::before {
    //   left: -15px;
    //   border-width: 8px 16px 8px 0;
    //   border-color: transparent #E86361 transparent transparent;
    // }
  }
// }
