.share-follow {
  display: inline-flex;

  a {
    margin-right: 5px;
    padding: 0.4rem;
    border-radius: 0;
  }

  li {
    a {
      color: #fff;
      border: none;
      &:hover, &:focus {
        opacity: 0.8;
        color: #fff;
      }
    }
  }

  .newsletter a { background: transparent; color: #393C58 !important; }
  .mastodon a { background: #3088D4; }
  .diaspora a { background: #464646; }
  .twitter a { background: #6DABCE; }
  .facebook a { background: #405897; }
  .reddit a { background: #FF4500; }
  .instagram a { background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }
}
