.money img {
  display: block;
  margin: auto;
}

#support {
  .modal-content {
    border: none;
  }

  .modal-header,
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    background: $primary;
    color: $secondary;
    border: none;
  }

  .fa {
    color: #757575;
  }
}


#howmuch {
  margin-top: 20px;

  #other1 {
    height: 50px;
  }

  .active, :active {
    box-shadow: none;
  }

  .btn i { color: #757575; }

  .btn.active {
    span { border-bottom: 3px solid $primary; }
    i { color: $primary; }
  }

  .input-group {
    margin-bottom: 20px;

    .input-group-text,
    .form-control {
      border: 2px solid #eee;
      border-radius: 0;
    }

    .input-group-text {
      background: #fff;
    }

    .input-group-prepend {
      margin-right: -2px;

      .input-group-text {
        border-color: #fff;
      }
    }
  }

  .input-group-lg .input-group-prepend .input-group-text {
    border-color: #eee;
  }

  .email .input-group,
  .nickname .input-group {
    margin-bottom: 10px;
  }

  #nickname[readonly="readonly"] {
    color: transparent;
    text-shadow: 0 0 4px rgba(34, 34, 34, 0.5);
  }

  .custom-switch {
    padding-left: 50px; /* = .input-group-text */
    label {
      padding-left: 3px;
    }
  }
}

#whoAreYou {
  margin: 20px -16px 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background: #F9F9FE;
  border-width: 2px;

  legend {
    float: left;
    width: auto;
    padding-bottom: 10px;
  }

  .btn-link {
    color: $secondary;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover, &:focus {
      color: darken($secondary, 10%);
    }

    i {
      margin-right: 5px;
    }

    &.active {
      i { color: $primary; }
      i + span {
        border-bottom: 3px solid $primary;
      }
    }
  }

  .input-group-text,
  .form-control,
  .custom-select {
    border-radius: 0;
    background: #fff;
    border-color: #fff;
  }

  .input-group-prepend {
    margin-right: -2px;
  }

  .society, .lastname, .firstname,
  .address1, .address2, .zip, .city {
    .form-control {
      border-bottom-color: #ccc;
      margin-bottom: 0;
    }
  }

  .address1 .form-control {
    border-bottom-style: dashed;
  }

  .address2, .zip, .city, .country {
    .fa { visibility: hidden; }
  }

  .lastname, .zip {
    padding-right: 0;
  }

  .firstname, .city {
    padding-left: 0;
    border-left: 1px solid #ccc;
    margin-left: -1px;
  }
}

#defiscalise p {
  padding: 20px 0 0;
  font-size: 14px;
}

#payment{
  margin-top: 0em;

  label.btn {
    width: 100%;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom-width: 3px;
    i { color: #757575; }
  }

  .active, :active {
    box-shadow: none;
  }
}

#payment {
  margin-top: 20px;
  .btn {
      border-color: #eee;
      color: #6c757d;
    &:hover, &:focus {
      border-color: #6c757d;
    }
    &.active {
      border-color: $primary;
      color: #222;
      i { color: $primary; }
    }
  }
}

#btnVerif {
  font-size: 24px;
  padding: 0.6em 2em;
  margin: 0.75em 0;
  color: #fff;
  background-color: $primary;
  border: 1px solid $primary;

  &:hover, &:focus {
    opacity: 0.9;
  }
}

.help-block li {
  font-size: 12px;
}

.clearfix.help-block {
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: -1em;
  margin-top: 0;
  padding: 1em 2em;
  background: #f5f5f5;
  border-top: 1px solid #eee;
}
