<template>
  <main>
    <vue-headful
      :title="$t('meta.title') + ' - ' + $t('hof.title')"
    />
    <section>
      <b-container>
        <b-col
          lg="8" offset-lg="2"
          id="page-header">
          <h2 v-html="$t('hof.title')"></h2>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col lg="8" offset-lg="2">

          <h3 v-html="$t('hof.sponsors')"></h3>
              <div class="text-center">
                <a href="https://www.sudeducation.org/">
                  <div class="thumbnail">
                    <img :src="`${$root['/']}img/sponsors/sud-education.png`" alt="">
                  </div>
                </a>
              </div>

              <h3 v-html="$t('hof.donators')"></h3>
              <div :class="`bloc rwd${j + 1}`" v-for="(reward, j) in rewards" :key="j">
                <div v-if="donators[`rwd-${reward}`].length > 0">
                  <h4 v-html="$t(`home.funding.rewards['d${reward}'].title`)" class="sr-only"></h4>
                  <ul class="list-inline text-center"
                    >
                    <li class="list-inline-item"
                      v-for="(donator, index) in donators[`rwd-${reward}`]"
                      :key="index"
                      v-text="donator.nickname"
                    ></li>
                  </ul>
                </div>
              </div>

              <h3 v-html="$t('hof.dev')"></h3>
              <div class="bloc rwd1">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">tcit</li>
                  <li class="list-inline-item">mcpaccard</li>
                  <li class="list-inline-item">GeoffreyDorne</li>
                  <li class="list-inline-item">Chocobozzz</li>
                  <li class="list-inline-item">l-vincent-l</li>
                </ul>
                <p class=" text-center">
                  <b-button variant="secondary" :href="$root.git.mobilizon">
                    <i class="fa fa-lg fa-gitlab" aria-hidden="true"></i>
                    <span v-html="$t('hof.contrib')"></span>
                  </b-button>
                </p>
              </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
export default {
  created() {
    if (!window.vuefsPrerender) {
      fetch(`https://joinmobilizon.org/2019-mbz.json`)
        .then(response => response.json())
        .then((data) => {
          this.list = data.list;
          this.updateData();
        }).catch((err) => {
          console.error('Unable to load donations', err);
        });
    }
  },
  data() {
    // Init count and donators
    const rewards = [1, 42, 88];
    const donators = {};
    for (let j = 0; j < rewards.length; j += 1) {
      donators[`rwd-${rewards[j]}`] = [];
    }

    return {
      start: '2019-05-14',
      end: '2019-07-10',
      steps: [20000, 35000, 50000],
      activeStep: 0,
      list: [],
      rewards,
      donators,
    }
  },
  methods: {
    updateData() {
      // Fill donators
      for (let i = 0; i < this.list.length; i += 1) {
        if (!this.list[i].monthly
          && new Date(this.start) < new Date(this.list[i].date.replace(/ /g,"T"))) {

          for (let j = 0; j < this.rewards.length; j += 1) {
            if (this.list[i].don >= this.rewards[j] && this.list[i].nickname !== 'Anonymous') {
              if (j !== this.rewards.length - 1) {
                if (this.list[i].don < this.rewards[j + 1]) {
                  this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                }
              } else {
                this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
              }
            }
          }
        }
      }
      this.rewards = this.rewards.reverse();
    },
  }
}
</script>
