<template>
    <main>
        <vue-headful
                :title="$t('meta.title') + ' - ' + $t('stats.title')"
        />
        <b-container>
            <h2 v-html="$t('stats.title')"></h2>
            <b-row>
                <div class="col-md-8">
                    <div>
                        <dl>
                            <dt>
                                <span class="h4" v-html="$t('stats.total') + ' ' + year"></span><br>
                            </dt>
                            <dd id="total">
                                <span class="h4">{{ EUR(total.onetime) }}</span>
                            </dd>
                            <dt v-html="$t('stats.avg')"></dt>
                            <dd id="avg">
                                {{ EUR(avg.onetime) }}
                            </dd>
                            <dt v-html="$t('stats.median')"></dt>
                            <dd id="median">
                                {{ EUR(median.onetime) }}
                            </dd>
                            <dt v-html="$t('stats.donators.all')"></dt>
                            <dd id="donators">
                                {{ donators.onetime }}
                            </dd>
                        </dl>
                    </div>
                </div>
            </b-row>

            <div>
                <h3>
                    <span v-html="$t('stats.graphAll.title')"></span>
                    <b-dropdown
                            :title="$t(chart.view)"
                            right
                            variant="link"
                    >
                        <template slot="button-content">
                            <span v-html="$t(chart.view)"></span>
                        </template>
                        <b-dropdown-item @click="chart.view = 'stats.graphAll.lastMonth'">
                            {{ $t('stats.graphAll.lastMonth') }}
                        </b-dropdown-item>
                        <b-dropdown-item @click="chart.view = 'stats.graphAll.lastQuarter'">
                            {{ $t('stats.graphAll.lastQuarter') }}
                        </b-dropdown-item>
                        <b-dropdown-item @click="chart.view = 'stats.graphAll.year'">
                            {{ $t('stats.graphAll.year') }}
                        </b-dropdown-item>
                    </b-dropdown>
                </h3>
                <div v-if="chart.view === 'stats.graphAll.lastMonth'">
                    <la-cartesian autoresize :bound="[0, n => n + 1000]" :data="chart.day30A">
                        <la-area :label="$t('stats.graphAll.onetime')" :continued="false" dot curve prop="onetime"></la-area>
                        <la-y-axis :interval="2"></la-y-axis>
                        <la-x-axis :interval="7" prop="name"></la-x-axis>
                        <la-tooltip></la-tooltip>
                        <la-legend selectable></la-legend>
                    </la-cartesian>
                    <h3 v-html="$t('stats.graphDay.title') + ' ' + $t(chart.view)"></h3>
                    <la-cartesian autoresize :bound="[0, n => n + 1000]" :data="chart.day30">
                        <la-area :label="$t('stats.graphDay.onetime')" :continued="false" dot curve prop="onetime"></la-area>
                        <la-y-axis :interval="5"></la-y-axis>
                        <la-x-axis :interval="7" prop="name"></la-x-axis>
                        <la-tooltip></la-tooltip>
                        <la-legend selectable></la-legend>
                    </la-cartesian>
                </div>
                <div v-if="chart.view === 'stats.graphAll.lastQuarter'">
                    <la-cartesian autoresize :bound="[0, n => n + 1000]" :data="chart.day90A">
                        <la-area :label="$t('stats.graphAll.onetime')" :continued="false" dot curve prop="onetime"></la-area>
                        <la-y-axis :interval="10"></la-y-axis>
                        <la-x-axis :interval="15" prop="name"></la-x-axis>
                        <la-tooltip></la-tooltip>
                        <la-legend selectable></la-legend>
                    </la-cartesian>
                    <h3 v-html="$t('stats.graphDay.title') + ' ' + $t(chart.view)"></h3>
                    <la-cartesian autoresize :bound="[0, n => n + 1000]" :data="chart.day90">
                        <la-area :label="$t('stats.graphDay.onetime')" :continued="false" dot curve prop="onetime"></la-area>
                        <la-y-axis :interval="10"></la-y-axis>
                        <la-x-axis :interval="15" prop="name"></la-x-axis>
                        <la-tooltip></la-tooltip>
                        <la-legend selectable></la-legend>
                    </la-cartesian>
                </div>
                <div v-if="chart.view === 'stats.graphAll.year'">
                    <la-cartesian autoresize :bound="[0, n => n + 1000]" :data="chart.dayA">
                        <la-area :label="$t('stats.graphAll.onetime')" :continued="false" curve prop="onetime"></la-area>
                        <la-y-axis :interval="100"></la-y-axis>
                        <la-x-axis :interval="30" prop="name"></la-x-axis>
                        <la-tooltip></la-tooltip>
                        <la-legend selectable></la-legend>
                    </la-cartesian>
                    <h3 v-html="$t('stats.graphDay.title') + ' ' + $t(chart.view)"></h3>
                    <la-cartesian autoresize :bound="[0, n => n + 1000]" :data="chart.day">
                        <la-area :label="$t('stats.graphDay.onetime')" :continued="false" curve prop="onetime"></la-area>
                        <la-y-axis :interval="100"></la-y-axis>
                        <la-x-axis :interval="30" prop="name"></la-x-axis>
                        <la-tooltip></la-tooltip>
                        <la-legend selectable></la-legend>
                    </la-cartesian>
                </div>
            </div>
        </b-container>
    </main>
</template>

<script>
    import { Cartesian, Line, Area, } from 'laue';

    export default {
        components: {
            LaCartesian: Cartesian,
            LaLine: Line,
            LaArea: Area,
        },
        data() {
            return {
                list: [],
                total: {
                    all: 0,
                    onetime: 0,
                    monthly: 0,
                },
                avg: {
                    all: 0,
                    onetime: 0,
                    monthly: 0,
                },
                median: {
                    all: 0,
                    onetime: 0,
                },
                donators: {
                    all: 0,
                    onetime: 0,
                    monthly: 0,
                    active: 0,
                },
                years: [...Array(Number(this.$root.year.current) - 2008)].map((v,i) => 2009 + i),
                year: Number(this.activeYear()),
                chart: {
                    view: 'stats.graphAll.lastMonth',
                    day: [...Array(366).keys()].map(d => this.dates(d)),
                    dayA: [...Array(366).keys()].map(d => this.dates(d)),
                    day30: [...Array(30).keys()].map(d => this.dates(d)),
                    day30A: [...Array(30).keys()].map(d => this.dates(d)),
                    day90: [...Array(90).keys()].map(d => this.dates(d)),
                    day90A: [...Array(90).keys()].map(d => this.dates(d)),
                    month: [...Array(12).keys()].map(m => ({
                        name: (new Date(Date.UTC(2018, m, 1, 1, 0, 0)).toLocaleDateString(this.$i18n.locale, {month: 'short'})),
                        all: 0,
                        onetime: 0,
                        monthly: 0,
                    })),
                    all: [...Array(12).keys()].map(m => ({
                        name: (new Date(Date.UTC(2018, m, 1, 1, 0, 0)).toLocaleDateString(this.$i18n.locale, {month: 'short'})),
                        all: 0,
                        onetime: 0,
                        monthly: 0,
                    })),
                },
            }
        },
        mounted() {
            if (!window.vuefsPrerender) {
                if (this.years.indexOf(Number(this.$root.hash)) > -1) {
                    this.year = Number(this.$root.hash);
                }
                fetch(`https://joinmobilizon.org/2019-mbz.json`)
                    .then(response => response.json())
                    .then((data) => {
                        this.donators.active = data.donators;
                        this.list = data.list;
                        this.updateStats();
                    }).catch((err) => {
                    console.error(err);
                });
            }
        },
        methods: {
            EUR(number) {
                return new Intl
                    .NumberFormat(this.$i18n.locale, { style: 'currency', currency: 'EUR', minimumSignificantDigits: 1 })
                    .format(number);
            },
            activeYear() {
                return (this.year !== undefined) ? this.year.toString() : this.$root.year.current
            },
            dates(d) {
                return {
                    name: (new Date(new Date(this.activeYear()).getTime() + d * 86400000).toLocaleDateString(this.$i18n.locale, { year: 'numeric', month: 'numeric', day: 'numeric' })),
                    all: 0,
                    onetime: 0,
                    monthly: 0,
                }
            },
            dayNumber(date){
                const d = (date !== undefined) ? date : new Date();
                return (Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()) - Date.UTC(d.getFullYear(), 0, 0)) / 86400000;
            },
            updateStats() {
                const types = ['all', 'onetime', 'monthly'];
                const archive = this.year !== Number(this.$root.year.current);

                for (let i = 0; i < this.list.length; i += 1) {
                    const m = this.list[i].date.replace(/[0-9]{4}-([0-9]{2})-[0-9]{2} [0-9]{2}:[0-9]{2}/, '$1') - 1;
                    const d =
                        this.dayNumber(new Date(
                            this.list[i].date.replace(/([0-9]{4})-([0-9]{2})-([0-9]{2}) [0-9]{2}:[0-9]{2}/, ['$1','$2','$3'])
                        )) - 1;
                    const amount = Math.round(this.list[i].don);

                    this.total.all += amount;
                    this.chart.month[m].all += amount;
                    this.chart.day[d].all += amount;
                    if (!this.list[i].monthly) {
                        this.total.onetime += amount;
                        this.chart.month[m].onetime += amount;
                        this.chart.day[d].onetime += amount;
                    } else {
                        this.total.monthly += amount;
                        this.chart.month[m].monthly += amount;
                        this.chart.day[d].monthly += amount;
                        this.donators.monthly += 1;
                    }
                }

                this.donators.all = this.list.length;
                this.donators.onetime = this.donators.all - this.donators.monthly;
                types.forEach((k) => {
                    this.avg[k] = this.donators[k] !== 0 ? Math.round(this.total[k] / this.donators[k]) : 0;
                    this.median[k] = this.calcMedian(k);

                    for (let i = 0; i < 12; i += 1) {
                        // Chart all
                        this.chart.all[i][k] = (i > 0)
                            ? this.chart.month[i][k] + this.chart.all[i-1][k]
                            : this.chart.month[i][k];
                        if (i > new Date().getMonth() && !archive) {
                            this.chart.all[i][k] = null;
                            this.chart.month[i][k] = null;
                        }
                    }
                    for (let i = 0; i < this.chart.day.length; i += 1) {
                        // Chart dayA
                        this.chart.dayA[i][k] = (i > 0)
                            ? this.chart.day[i][k] + this.chart.dayA[i-1][k]
                            : this.chart.day[i][k];
                        if (i > this.dayNumber() && !archive) {
                            this.chart.dayA[i][k] = null;
                            this.chart.day[i][k] = null;
                        }
                    }
                });

                // Chart day30 and day90
                const e = !archive ? this.dayNumber() : 366;
                let s = e - 30;
                let j = 0;
                for (let i = (s > 0) ? s : 0; i < e; i += 1) {
                    Object.keys(this.chart.day[i]).forEach((k) => {
                        // this.chart.day30[j] = this.chart.day[i] doesn’t work
                        this.chart.day30[j][k] = this.chart.day[i][k];
                        this.chart.day30A[j][k] = this.chart.dayA[i][k];
                    });
                    j += 1;
                }
                s = e - 90;
                j = 0;
                for (let i = (s > 0) ? s : 0; i < e; i += 1) {
                    Object.keys(this.chart.day[i]).forEach((k) => {
                        this.chart.day90[j][k] = this.chart.day[i][k];
                        this.chart.day90A[j][k] = this.chart.dayA[i][k];
                    });
                    j += 1;
                }
            },
            calcMedian(k) {
                if(this.donators[k] === 0) return 0;
                const values = this.list.map(value => value.don);

                values.sort(( a , b ) => a - b);

                const half = Math.floor(values.length / 2);

                if (values.length % 2)
                    return values[half];

                return (values[half - 1] + values[half]) / 2.0;
            }
        },
    }
</script>
