<template>

  <form role="form" id="form_don" action="#"
    class="needs-validation"
    @submit="payRedirection">
    <b-row id="howmuch"
      align-v="center" align-h="center">
      <b-col md="10">
        <label for="other1" v-html="$t('form.step1.other')" class="sr-only"></label>
        <b-input-group size="lg" prepend="€" variant="outline-primary">
          <b-form-input type="number" id="other1"
            :placeholder="`${$t('form.step1.other')} (${$t('form.step1.oneshot_ex')})`"
            v-model.number="form.other1"
            @change="check('other1')"
            step="any" min="1" max="100000"
            pattern="/^\d+([\.\,]\d{1,2})?$/"
          ></b-form-input>
        </b-input-group>

        <!-- Email -->
        <div :class="'email' + form.ok.email">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-envelope-o fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-input name="email" id="email" ref="email"
              type="email"
              v-model="form.email" required
              @focusout="check('email')"
              :placeholder="$t('form.step2.email')"
              :title="form.society ? $t('form.step2.society_email_ex') : $t('form.step2.email_ex')"
            ></b-form-input>
          </b-input-group>
        </div>

        <!-- Nickname -->
        <div :class="'nickname' + form.ok.nickname">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i v-if="form.state.anonymous"
                class="fa fa-user-secret fa-fw fa-lg"
                aria-hidden="true"></i>
              <i v-else
                class="fa fa-user fa-fw fa-lg"
                aria-hidden="true"></i>
            </div>

            <b-form-input
              :readonly="form.state.anonymous"
              name="nickname" id="nickname" ref="nickname"
              v-model="form.nickname" required
              @focusout="check('nickname')"
              :placeholder="$t('form.step2.nickname')"
              :title="$t('form.step2.nickname_ex')"
            ></b-form-input>
          </b-input-group>
        </div>
        <!-- Newsletter ? -->
        <div>
          <b-form-checkbox
            v-model="form.state.newsletter"
            name="newsletter"
            switch
            class="text-muted"
          >
            <span v-html="$t('form.step1.newsletter')"></span>
          </b-form-checkbox>
        </div>
        <!-- Anonymous ? -->
        <b-form-checkbox
          v-model="form.state.anonymous"
          name="anonymous"
          switch
          @change="form.nickname = form.state.anonymous ? '' : 'Anonymous'"
          class="text-muted"
        >
          <span v-html="$t('form.step1.anonymous')"></span>
        </b-form-checkbox>
        <!-- Defisc ? -->
        <div>
          <b-form-checkbox
            v-model="form.state.defisc"
            name="defisc"
            switch
            class="text-muted"
          >
            <span v-html="$t('form.step1.defisc')"></span>
          </b-form-checkbox>
        </div>
      </b-col>
    </b-row>

    <!-- Defisc form -->
    <div v-show="form.state.defisc"
      id="whoAreYou"
      class="card card-body">
      <p v-html="$t('form.step2.intro')"></p>
      <!-- Individual / Society -->
      <b-form inline>
        <b-form-group :label="$t('form.step2.type')">
          <b-form-radio-group
            id="typeDonateur"
            v-model="form.society"
            :options="[{ html: `<i class='fa fa-fw fa-lg fa-id-card-o' aria-hidden='true'></i><span>${$t('form.step2.part')}</span>`, value: false }, { html: `<i class='fa fa-fw fa-lg fa-institution' aria-hidden='true'></i><span>${$t('form.step2.corp')}</span>`, value: true }]"
            buttons
            size="sm"
            button-variant="link"
            class="text-uppercase"
            name="statut"
          ></b-form-radio-group>
        </b-form-group>
      </b-form>

      <b-row align-v="center" align-h="center">
        <!-- Lastname -->
        <b-col sm="6"
          v-if="!form.society" :class="'lastname' + form.ok.lastname">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-id-card-o fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-input name="lastname" id="lastname" ref="lastname"
              v-model="form.lastname" required
              @focusout="check('lastname')"
              :placeholder="$t('form.step2.lastname')"
              :title="$t('form.step2.lastname_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>
        <!-- Society -->
        <b-col sm="12"
          v-else :class="'society' + form.ok.lastname">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-institution fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-input name="lastname" id="lastname" ref="lastname"
              v-model="form.lastname" required
              @focusout="check('lastname')"
              :placeholder="$t('form.step2.society')"
              :title="$t('form.step2.society_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>
        <!-- Firstname -->
        <b-col sm="6"
          v-show="!form.society"
          :class="'firstname' + form.ok.firstname">
          <b-input-group variant="outline-primary">
            <b-form-input name="firstname" id="firstname" ref="firstname"
              v-model="form.firstname" required
              @focusout="check('firstname')"
              :placeholder="$t('form.step2.firstname')"
              :title="$t('form.step2.firstname_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row align-v="center" align-h="center">
        <!-- Address -->
        <b-col sm="12"
          :class="'address1' + form.ok.address1">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-input name="address1" id="address1" ref="address1"
              v-model="form.address1" required
              @focusout="check('address1')"
              :placeholder="$t('form.step2.address1')"
              :title="$t('form.step2.address1_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>
        <b-col sm="12"
          class="address2">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-input name="address2" id="address2" ref="address2"
              v-model="form.address2"
              @focusout="check('address2')"
              :placeholder="$t('form.step2.address2')"
              :title="$t('form.step2.address2_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>

        <!-- Zip -->
        <b-col sm="6"
          :class="'zip' + form.ok.zip">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-input name="zip" id="zip" ref="zip"
              v-model="form.zip" required
              @focusout="check('zip')"
              :placeholder="$t('form.step2.zip')"
              :title="$t('form.step2.zip_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>
        <!-- City -->
        <b-col sm="6"
          :class="'city' + form.ok.city">
          <b-input-group variant="outline-primary">
            <b-form-input name="city" id="city" ref="city"
              v-model="form.city" required
              @focusout="check('city')"
              :placeholder="$t('form.step2.city')"
              :title="$t('form.step2.city_ex')"
            ></b-form-input>
          </b-input-group>
        </b-col>

        <!-- Country -->
        <b-col sm="12"
          class="country">
          <b-input-group variant="outline-primary">
            <div slot="prepend" class="input-group-text" aria-hidden="true">
              <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
            </div>
            <b-form-select id="country" name="country" ref="country"
              v-model="form.country" required
              class="custom-select"
            >
              <option v-for="country, key in $root.country"
                :value="key">
                {{ country }}
              </option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>
      <input type="hidden" name="montant" id="montant"
        value="10" v-model="form.don">

      <!-- French defisc -->
      <div id="defiscalise">
        <p
         v-if="/(FR|GP|GF|RE|MQ|YT|NC|PF|PM|WF)/.test(form.country)"
         v-html="$t('form.step3.defisc_text', { percent: `${form.defisc} %`, amount: `<b>${$n(form.don, 'eur')}</b>`, defisc: `<b>${$n(form.don - form.don * form.defisc / 100, 'eur')}</b>` })"
        ></p>
      </div>
    </div>

    <!-- Payment mode -->
    <b-row id="payment" align-v="center">
      <b-col sm="5" offset-sm="1">
        <label :class="'btn btn-default' + (form.pay_mode === 'cb' ? ' active' : '')"
          id="pay_cb"
          @click="form.pay_mode='cb'">
          <input type="radio" id="pay_mode_cb" name="pay_mode"
            autocomplete="off" class="sr-only"
            v-model="form.pay_mode" value="cb">
          <i class="fa fa-lg fa-credit-card" aria-hidden="true"></i><br>
          <span v-html="$t('form.step3.cb')"></span>
        </label>
      </b-col>
      <b-col sm="5">
        <label :class="'btn btn-default' + (form.pay_mode === 'pp' ? ' active' : '')"
          id="pay_pp"
          @click="form.pay_mode='pp'">
          <input type="radio" id="pay_mode_pp" name="pay_mode"
            autocomplete="off" class="sr-only"
            v-model="form.pay_mode" value="pp">
          <i class="fa fa-lg fa-paypal" aria-hidden="true"></i><br>
          <span v-html="$t('form.step3.pp')"></span>
        </label>
      </b-col>
    </b-row>

    <!-- Donate -->
    <p class="text-center">
      <button id="btnVerif" name="submit" value=""
        class="btn btn-lg">
        <span style="font-size: 22px;" v-html="$t('form.step3.i_give')"></span><br>
        <span v-if="!isNaN(form.don)">{{ $n(form.don, 'eur') }}</span>
        <span v-html="$t('form.step3.now')"></span>
      </button>
    </p>
  </form>
</template>

<script>
export default {
  props: {
    amount: {
      type: Number,
      required: true,
    }
  },
  watch: {
    amount: function (val) {
      this.form.don = val;
      this.form.other1 = val;
    },
  },
  data() {
    return {
      form: {
        don: this.amount,
        monthly: false,
        otherM: '',
        other1: this.amount,
        society: false,
        defisc: 66,
        nickname: '',
        lastname: '',
        firstname: '',
        email: '',
        address1: '',
        address2: '',
        zip: '',
        city: '',
        country: 'FR',
        pay_mode: 'cb',
        pay_send: '',
        ok: {
          don: '',
          nickname: '',
          lastname: '',
          firstname: '',
          email: '',
          address1: '',
          zip: '',
          city: '',
        },
        state: {
          anonymous: false,
          defisc: false,
          newsletter: true,
        }
      },
    }
  },
  methods: {
    check(input) {
      if (!this.form.state.defisc) {
        // Fill requiered fields for DB
        this.form.lastname = ' ';
        this.form.firstname = ' ';
        this.form.address1 = ' ';
        this.form.city = ' ';
        this.form.zip = ' ';
      }
      switch (input) {
        case 'other1':
          if (!isNaN(this.form.other1)) {
            this.form.other1 = Number.parseFloat(this.form.other1).toFixed(2);
            this.form.don = this.form.other1;
          }
          break;

        // no-default
      }
    },
    addFormField(form, key, value) {
      const hiddenField = document.createElement('input');
      Object.assign(hiddenField, {
        'type': 'hidden',
        'name': key,
        'value': value
      });
      form.appendChild(hiddenField);
    },
    payRedirection(e) {
      let custom = [
        'campaign=mobilizon',
        `nickname=${encodeURIComponent(this.form.nickname)}`,
        `anonymous=${+this.form.state.anonymous}`,
        `defisc=${+this.form.state.defisc}`,
        `newsletter=${+this.form.state.newsletter}`,
      ];
      switch(this.form.pay_mode) {
        // TPE Monetico / CM-CIC
        case 'cb':
          // Monetico languages
          const acceptable_languages = ['DE', 'EN', 'ES', 'FR', 'IT', 'JA', 'NL', 'PT', 'SV'];
          let language = this.$route.meta.lang.toUpperCase();
          language = acceptable_languages.includes(language) ? language : 'EN';

          const form = document.createElement("form");
          form.setAttribute('method', 'POST');
          form.setAttribute('action', `https://soutenir.framasoft.org/monetico/before_paiement_2828136.php`);

          this.addFormField(form, 'nom', this.form.lastname);
          this.addFormField(form, 'prenom', this.form.firstname);
          this.addFormField(form, 'mail', this.form.email);
          this.addFormField(form, 'adresse1', this.form.address1);
          this.addFormField(form, 'adresse2', this.form.address2);
          this.addFormField(form, 'ville', this.form.city);
          this.addFormField(form, 'cp', this.form.zip);
          this.addFormField(form, 'pays', this.$root.country[this.form.country]);
          this.addFormField(form, 'montant', this.form.don);
          this.addFormField(form, 'texte_libre', encodeURIComponent(custom.join('&')));
          this.addFormField(form, 'lgue', language);

          document.body.appendChild(form);
          form.submit();
          break;
        // Paypal
        case 'pp':
          const url = [
            'https://www.paypal.com/cgi-bin/webscr?'
          ];

          url.push(
            'cmd=_donations',
            `&amount=${this.form.don}`,
            `&item_name=${encodeURIComponent('Framasoft (don ponctuel)')}`,
            '&business=6HSVUPKRDAGC2', // Framasoft Paypal ID
            `&return=${encodeURIComponent(this.$root.baseurl + 'thank-you/')}`,
            '&currency_code=EUR',
            '&address_override=1', // Prefill Paypal’s form
            '&charset=utf-8',
            `&last_name=${encodeURIComponent(this.form.lastname)}`,
            `&first_name=${encodeURIComponent(this.form.firstname)}`,
            `&email=${encodeURIComponent(this.form.email)}`,
            `&address1=${encodeURIComponent(this.form.address1)}`,
            `&address2=${encodeURIComponent(this.form.address2)}`,
            `&zip=${encodeURIComponent(this.form.zip)}`,
            `&city=${encodeURIComponent(this.form.city)}`,
            `&country=${this.form.country}`,
            `&custom=${encodeURIComponent(custom.join('&'))}`,
          );
          this.form.pay_send = url.join('');
          window.location.href = this.form.pay_send;
          break;

        // no-default
      }
      e.preventDefault();
    },
  },
}
</script>
