<template>
  <footer>
    <section class="contact" id="contact">
      <b-container>
        <h3 v-html="$t('contact.title')"></h3>
        <b-row>
          <b-col md="4">
            <a rel="me" href="https://twitter.com/@joinmobilizon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              JoinMobilizon
            </a>
          </b-col>
          <b-col md="4">
            <a rel="me" href="https://framapiaf.org/@mobilizon">
              <i class="fa fa-mastodon" aria-hidden="true"></i>
              Mobilizon
            </a>
          </b-col>
          <b-col md="4">
            <a href="https://framagit.org/framasoft/mobilizon/">
              <i class="fa fa-gitlab" aria-hidden="true"></i>
              {{ $t('contact.source') }}
            </a>
          </b-col>
          <b-col md="4">
            <a :href="$t('contact.forum.link')">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Forum
            </a>
          </b-col>
          <b-col md="4">
            <a href="https://riot.im/app/#/room/#Mobilizon:matrix.org">
              <i class="fa fa-matrix-org" aria-hidden="true"></i>
              Chat
            </a>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section class="credits">
      <p>
        <span
          v-for="(credit, index) in $t('footer')"
          :key="index"
          v-html="credit"
        >
        </span>
      </p>
    </section>
  </footer>
</template>
