<template>
  <header id="header">
    <b-container>
      <b-row align-h="between" align-v="center">
        <b-col md="5">
          <h1>
            <router-link :to="`/${$t('lang')}/`">
              <img :src="`${$root['/']}img/logo_mbz.svg`" height="45" alt="Mobilizon">
            </router-link>
          </h1>
          <h2 v-html="$t('home.subtitle')">
            <!--<span v-for="(tag, index) in $t('home.intro.tags')" :key="index">
              {{ tag }}
              <span v-if="index < $t('home.intro.tags').length - 1"> ⋅ </span>
            </span>-->

          </h2>
        </b-col>
        <b-col md="7">
          <b-nav pills class="pull-right list-unstyled">
            <b-nav-item :to="`/${$t('lang')}/news`">
              {{ $t('menu.news') }}
              <b-badge pill variant="light" v-text="Object.keys($t('news.blocs')).length"></b-badge>
            </b-nav-item>
            <b-nav-item :to="`/${$t('lang')}/faq`">
              {{ $t('menu.faq') }}
            </b-nav-item>
            <b-nav-item :to="`/${$t('lang')}/medias`">
              {{ $t('menu.medias') }}
            </b-nav-item>
            <b-nav-item :to="`/${$t('lang')}/hall-of-fame`">
              {{ $t('menu.hall-of-fame') }}
            </b-nav-item>
            <b-nav-text tag="li" class="nav-item">
              <I18n/>
            </b-nav-text>
          </b-nav>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import I18n from './I18n.vue'
export default {
  name: 'framaheader',
  components: {
    I18n,
  },
}
</script>

