<template>
  <article>
    <div v-for="(text, tag) in $t(section)" :key="tag">
      <div class="alert alert-info"
        v-if="/^alert/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></div>
      <h2
        v-if="/^h2/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></h2>
      <h3
        v-if="/^h3/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></h3>
      <h4
        v-if="/^h4/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></h4>
      <h5
        v-if="/^h5/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></h5>
      <h6
        v-if="/^h6/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></h6>
      <div v-if="/^p/.test(tag)">
        <p
          v-for="(item, p) in $t(`${section}.${tag}`)" :key="p"
          v-html="$t(`${section}.${tag}[${p}]`)"
        ></p>
      </div>
      <ul v-if="/^ul/.test(tag)">
        <li
          v-for="(item, li) in $t(`${section}.${tag}`)" :key="li"
          v-html="$t(`${section}.${tag}[${li}]`)"
        ></li>
      </ul>
      <ol v-if="/^ol/.test(tag)">
        <li
          v-for="(item, li) in $t(`${section}.${tag}`)" :key="li"
          v-html="$t(`${section}.${tag}[${li}]`)"
        ></li>
      </ol>
      <div v-if="/^blockquote/.test(tag)">
        <blockquote
          v-for="(item, bq) in $t(`${section}.${tag}`)" :key="bq"
          v-html="$t(`${section}.${tag}[${bq}]`)"
        ></blockquote>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    section: {
      type: String,
      required: true,
    },
  },
};
</script>
